@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}
h1{
  display:inline-block;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

a{
  /* font-style: italic; */
  text-decoration: none;
  color: #2d3d15;
  background:
    linear-gradient(
      to right,
      #05386B,
      #05386B
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 1.5px, 0 1.5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
    background-size: 0 1.5px, 100% 1.5px;
    color: rgb(196, 33, 33);
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color:#bc986a
}

img {
  display : inline-block;
  margin-top:-43px;
  width: 47px;
  height: 47px;
}

img:hover{
  /* border-radius: 100%; */
    box-shadow : rgb(255 215 77 / 60%) -1px -1px 6px,
    rgb(124 127 255 / 60%) 1px 1px 6px;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    #bc986a
    rgb(235, 226, 154),
    rgb(149, 224, 237),
    rgb(140, 188, 250),
    rgb(145, 148, 248),
    #bc986a
  );
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body,
button {
  font-size: 1rem;
  font-weight: 400;
}

.jumbotron-fluid {
  padding: 10px;
}

.center li {
  text-align: center;
}
li {
  list-style: none;
}
/* -------- */
.header-bg {
  background-color: rgb(23, 15, 30);
  color: rgb(229, 225, 230);
  padding: 10px;
  margin-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -32px;
}
.jumbotron-fluid {
  /* background-color: #f76c5e; */
  text-align: center;
}
.jumbotron-fluid h1 {
  color: white;
  font-size: 4rem;
}
.jumbotron-fluid p {
  color: white;
}
#footer {
  background-color: blue;
  text-align: center;
  color: red;
  bottom: 0px;
}

.list ol {
  column-count: 4;
}

@media (max-width: 720px) {
  .jumbotron-fluid h1 {
    font-size: 2.5rem;
  }
  .list ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  ul {
    column-count: 2;
    column-gap: 4rem;
  }
}

@media screen and (min-width: 768px) {
  ul {
    column-count: 4;
    column-gap: 10rem;
  }
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  /* padding-top: 40px; */
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  /* max-width: 500px; */
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom{
  background: rgb(87, 87, 87);
  width: 100vw;
  height: 75px;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}
.footer-menu ul{
  display: flex; 
}

.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
  footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 130px;
    width: 108vw;
    /* padding-top: 40px; */
    color: #fff;
  }
  .footer-bottom{
    background: #000;
    width: 108vw;
    height: 145px;
    /* padding: 10px; */
    /* padding-bottom: 40px; */
    text-align: center;
  }
  .footer-menu ul{
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  }
}

.margin{
  margin: 40px;
}
