@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

a{
  /* font-style: italic; */
  text-decoration: none;
  /* color: #05386B; */
  background:
    linear-gradient(
      to right,
      #05386B,
      #05386B
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 1.5px, 0 1.5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
    background-size: 0 1.5px, 100% 1.5px;
}

body {
  background-color: #bc986a;
}

img {
  width: 100%;
  height: auto;
}

img:hover{
  border-radius: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    #bc986a,
    rgb(235, 226, 154),
    rgb(149, 224, 237),
    rgb(140, 188, 250),
    rgb(145, 148, 248),
    #bc986a
  );
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body,
button {
  font-size: 1rem;
  font-weight: 400;
}

.jumbotron-fluid {
  padding: 10px;
}

.center li {
  text-align: center;
}
li {
  list-style: none;
}
/* -------- */
.header-bg {
  background-color: rgb(23, 15, 30);
  color: rgb(229, 225, 230);
  padding: 10px;
  margin-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron-fluid {
  /* background-color: #f76c5e; */
  text-align: center;
}
.jumbotron-fluid h1 {
  color: white;
  font-size: 4rem;
}
.jumbotron-fluid p {
  color: white;
}
#footer {
  background-color: blue;
  text-align: center;
  color: red;
  bottom: 0px;
}

.list ol {
  column-count: 4;
}

@media (max-width: 720px) {
  .jumbotron-fluid h1 {
    font-size: 2.5rem;
  }
  .list ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  ul {
    column-count: 2;
    column-gap: 5rem;
  }
}

@media screen and (min-width: 768px) {
  ul {
    column-count: 4;
    column-gap: 10rem;
  }
}
