@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
  max-width: 100%;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}

a {
  color: inherit;
}

a {
  /* font-style: italic; */
  text-decoration: none;
  color: #2d3d15;
  background: linear-gradient(to right, #05386b, #05386b),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 1.5px, 0 1.5px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 1.5px, 100% 1.5px;
  color: rgb(87, 7, 75);
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color:  rgb(255 255 255 /31%)
}

img {
  display: inline-block;
  margin-top: -43px;
  width: 47px;
  height: 47px;
}

img:hover {
  /* border-radius: 100%; */
  box-shadow: rgb(255 215 77 / 60%) -1px -1px 6px,
    rgb(124 127 255 / 60%) 1px 1px 6px;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    #bc986a rgb(235, 226, 154),
    rgb(149, 224, 237),
    rgb(140, 188, 250),
    rgb(145, 148, 248),
    #bc986a
  );
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body,
button {
  font-size: 1rem;
  font-weight: 400;
}

.jumbotron-fluid {
  padding: 10px;
}

.center li {
  text-align: center;
}
li {
  list-style: none;
}
/* -------- */
.header-bg {
  background-color: rgb(23, 15, 30);
  color: rgb(229, 225, 230);
  padding: 10px;
  margin-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -32px;
  width: 100%;
}
.jumbotron-fluid {
  /* background-color: #f76c5e; */
  text-align: center;
}
.jumbotron-fluid h1 {
  color: white;
  font-size: 4rem;
}
.jumbotron-fluid p {
  color: white;
}
#footer {
  background-color: blue;
  text-align: center;
  color: red;
  bottom: 0px;
}

.list ol {
  column-count: 4;
}

@media (max-width: 720px) {
  .jumbotron-fluid h1 {
    font-size: 2.5rem;
  }
  .list ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  ul {
    column-count: 2;
    column-gap: 4rem;
  }
}

@media screen and (min-width: 768px) {
  ul {
    column-count: 4;
    column-gap: 10rem;
  }
}

.header-bg {
  margin: 0;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(23, 15, 30);
  height: 70px;
  width: 100vw;
  color: #fff;
}
.footer-content {
  background-color: rgb(3, 32, 55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  /* max-width: 500px; */
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  background: rgb(23, 15, 30);
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(33, 21, 45);
    height: 70px;
    width: 100vw;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer-menu ul {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.margin {
  margin: 40px;
}

/* Button */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-style: italic; */
  text-shadow: 0.5px 0.5px #ffffffbd;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(6, 3, 44, 0.868);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.mainButton {
  padding: 15px 30px;
  /* justify-items: center;
  display: grid;
  grid-template-columns: 10fr  ; */
}
.list ul li{
    margin: 3px;
    font-family: dm sans,Sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6em;
background-color: rgb(255 255 255 /31%)
}
